<!doctype html>
<html lang='en'>
  <head>
    <title>MEME TUBE</title>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/style.css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
  </head>
  
  <body>
    <header>
      <h1><a href="/">MEME TUBE</a></h1>
    </header>

    <!-- generating and displaying the NAV menu -->
    <nav>
      <ul>
        <a href='/videos'><li id="home">HOME</li></a>
        <a href='/videos/new'><li class="static">Add New Item</li></a>
      </ul>
    </nav>
    <!-- added a div for a new video entry form -->
    <div id='newVideoEntry'>
    <!-- end of add a new div -->
    </div>
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>

</html>