<div id="title">
  <h2>
    Add New Video Details:
  </h2>
</div>
<div class="stuff">
  <form action="/videos" method="POST">
    <label>Artist: </label><input class="input" type="text" name="artist" placeholder="artist... " autofocus>
    <label>Title: </label><input class="input" type="text" name="title" placeholder="title... ">
    <label>Description: </label></label><textarea class="input" name="description" placeholder="description... "></textarea>
    <label>Category: </label><input class="input" type="text" name="category" placeholder="category... ">
    <label>Genre: </label><input class="input" type="text" name="genre" placeholder="genre... ">
    <label>URL: </label><input class="input" type="text" name="url" placeholder="url... ">

    <input class="input" type="submit" value="Add Video">
  </form>
</div>
